:root {
    /* Colors that I am Supposed to use */
    /* CSS HEX */
    --dark-sienna: #250902ff;
    --dark-sienna-2: #38040eff;
    --rosewood: #640d14ff;
    --up-maroon: #800e13ff;
    --upsdell-red: #ad2831ff;
}